# Dependencies
node_modules

# Testing
coverage

#misc
.env
.env.local
.env.*.local

# Production
build

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
