body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#bfe9ff,#ff6e7f);
    width: 100%;
    height: 140vh;
    overflow-x: hidden;
    padding-top: 60px;

}

.live-currencies{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(255, 192, 203, 1),rgba(128,0,128,0.5));
    display: flex;
    padding: 20px 10px;
    overflow: hidden;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%; /* Required: fixed elements lose their width by default */
    z-index: 1000;


}

.live-currencies a {
  color: #5D4157;
  padding: 50px;
  font-family: Questrial, sans-serif;
}


.conversion-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.container {
    background-image: linear-gradient(rgba(191,233,255,0.3),rgba(225,110,127,0.5));
    border-radius: 49% 51% 48% 52% / 49% 50% 50% 51%  ;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow:8px 6px 3px rgba(0, 0, 0, 0.03);
    max-width: 1000px;
    transition: 0.7s ease;
    position: sticky;
    top: 0;
}

.container:hover {
    border-radius:31% 69% 83% 17% / 83% 27% 73% 17%;
    width: 500px;
}

.container div{
  padding:20px;
}

.base-currency {
  text-align: center;
  margin-top: 160px;
}

.desired-currency {
  text-align: center;
}


.amount {
  background-image: linear-gradient(90deg,#D3959B,#BFE6BA);
  border-radius: 30px;
  padding: 15px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  color: #5D4157;
  padding: 12px;
  box-shadow: 10px 10px 5.3px rgba(0, 0, 0, 0.028)
}

  .bulle-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(255, 192, 203, 0.1),rgba(128,0,128,0.5));
    border-radius: 49% 51% 48% 52% / 49% 50% 50% 51%  ;
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05) ;
    width: 200px;
    height: 200px;
    transition: 0.7s ease;
    position: relative;
    left: 70%;
    bottom: 400px;
    font-size: 1.1em;
}

.bulle-1:hover{
    border-radius:12% 88% 24% 76% / 54% 43% 57% 46%  ;
    color: #5D4157;
}

.bulle-2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(0,210,255,0.7));
    border-radius: 49% 51% 48% 52% / 49% 50% 50% 51%  ;
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05) ;
    width: 130px;
    height: 130px;
    transition: 0.7s ease;
    position: relative;
    left: 64%;
    bottom: 350px;
    font-size: 1.1em;   
}

.bulle-2:hover{
  border-radius: 70% 30% 45% 55% / 30% 20% 80% 70%   ;
  color: #5D4157;
}





@media screen and (max-width: 500px) {
  .myheader a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

  .live-currencies a {
    float: none; 
    display: block; 
    text-align: center; 
    padding: 5px;
  }

  .live-currencies {
    height: 70px;
    padding-top: 5px;
  }
  
   #desiredCurrency {
   margin-top: 10px;
    width: 195px;
  }
  .container {
    display: block;
    text-align: center;
    float: none;
    
  }
  
  #baseCurrency {
   margin-top: 10px;
    width: 195px;
  }

}

